<robot
  name="srobot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0838668771506753 -0.000434581103345488 0.334913125707414"
        rpy="0 0 0" />
      <mass
        value="36.2523043272947" />
      <inertia
        ixx="2.45191552236858"
        ixy="-0.00156975307945967"
        ixz="-0.161536850677344"
        iyy="2.43871384544159"
        iyz="0.0015876948552603"
        izz="0.688161410649468" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_scan">
    <inertial>
      <origin
        xyz="-0.0180076264486282 -9.19755536465949E-06 -0.00964838617095429"
        rpy="0 0 0" />
      <mass
        value="0.204546095121516" />
      <inertia
        ixx="1.80411577031371E-09"
        ixy="-2.92716590759104E-10"
        ixz="4.18096533165966E-10"
        iyy="1.68746981349632E-09"
        iyz="2.16004476317332E-10"
        izz="1.4052011892599E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/base_scan.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/base_scan.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="scan_joint"
    type="fixed">
    <origin
      xyz="0.1755 0 0.10075"
      rpy="2.1649E-15 1.2228E-17 -4.2633E-16" />
    <parent
      link="base_link" />
    <child
      link="base_scan" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="0.00562012085862895 0.00216740166295631 -0.000292591049908197"
        rpy="0 0 0" />
      <mass
        value="0.0150303013778881" />
      <inertia
        ixx="6.83280179880973E-07"
        ixy="-1.28329387406879E-06"
        ixz="-2.88988605151212E-07"
        iyy="2.57979938114468E-06"
        iyz="-1.45158034917186E-07"
        izz="3.19739448351711E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://srobot/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-0.042 0 0.5387"
      rpy="0 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>